<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show</title>
</head>
<body>
<p th:text="${client.getLastName() + ', ' + client.getFirstName()}">VALUE</p>

<div th:if="${credits.isEmpty()}">
    <p>Человек пока не взял ни одного кредита</p>
    <hr/>
</div>

<div th:if="${!credits.isEmpty()}">
    <hr/>
    <b>Кредитные продукты:</b>
    <br/>
    <table th:each="credit : ${credits}">
        <tr>
            <td>
                <span th:text="${credit.getType() + ', ' + credit.getCurrentAccount() + ', ' + credit.getAmount()}"
                   th:style="${credit.isExpired()} ? 'color: red' : 'color: black'">
                    credit
                </span>
            </td>
        </tr>
    </table>
    <hr/>
</div>

<form th:method="GET" th:action="@{/clients/{id}/edit(id=${client.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/clients/{id}(id=${client.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

<li><a th:href="@{/clients/}">К списку клиентов</a></li>

</body>
</html>